
      .cover{
        min-width: 300px;
          background-image: url('convacation.jpg');
          height: 600px;
          background-size: cover;
       
      }
      
                           /*container*/
      .container{
          padding-left: 40px;
          padding-right: 40px;
        }
      
      
        h1{
        
          font-size: 70px;
          color:white;
          text-align: center;
        }
                    /*nav */
        .nav-ber{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px;
        }
          ul{ 
            list-style-type:none;
                    
          }
          ul li{
        float: left;
          }
          ul li a{
            display: inline-block;
            text-decoration: none;
            padding:20px ;
            color: aliceblue;
            font-size: 25px;
            color: rgb(232, 21, 21);
            font-weight: bold;
          } 
        nav{
      padding-left: 60rem;
        z-index: 1000;
          
        }
        
      ul li a::after{
        content: '';
        width: 0%;
        height: 4px;
        margin: auto;
        display: block;
        background:rgb(13, 13, 13);
        transition: 0.5s;
      }
      ul li a:hover::after{
        width: 100%;
      }
      
      
        /* ##Device = Low Resolution Tablets, Mobiles (Landscape)
          ##Screen = B/w 481px to 767px
            */
               
         @media (min-width: 481px) and (max-width: 900px) {
                 
          h1{
            font-size: 50px;
            margin-top: 100px;
      
           }
         nav{
           position: absolute;
           top:70px;
         right:0;
        margin-left: 200px;
          height:40vh ;
                    }
        nav ul li {
        display: inline-block;
            
              }
            nav ul li a{
           float: left;
            
                }
        .logo{
        margin-left: -55px;
        width: 150px;
           }
           .cover{
            height: 400px;
           }
          }   
         
      
      
        /* ##Device = Most of the Smartphones Mobiles (Portrait)
         ##Screen = B/w 320px to 479px
       */
       
       @media (min-width: 320px) and (max-width: 480px) {
         
        h1{
          font-size: 50px;
          margin-top: 150px;
         }
       nav{
         position: absolute;
         top:70px;
       right:0;
      margin-left: 200px;
        height:40vh ;
                  }
      nav ul li {
      display: inline-block;
          
            }
          nav ul li a{
         float: left;
          
              }
      .logo{
      margin-left: -55px;
      width: 150px;
         }
         .cover{
          height: 400px;
         }
       
       }

                  /*row-2*/
.row-2{
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}
.col-left{
  flex-basis: 50%;

}
h2{
  font-size: 40px;
}
h3{
    opacity: 0.5;
    max-width: 900px;
}
.col-right{
    flex-basis: 45%;  
  
  }



  @media (min-width: 481px) and (max-width: 900px) { 
    .row-2{
      margin-top: 80px;
      padding-left: 50px;
      padding-right: 50px;
  }
  .col-right img{
height: 400px;
width: 600px;}

h3{
  opacity: 0.5;
  max-width: 1000px;
}


  
}
@media (min-width: 320px) and (max-width: 480px) {
  .col-right img{
    height: 200px;
    width: 300px;
  }
  
    .row-2{
      margin-top: 5rem;
    }
}


                  /*About*/
              
 .write-1{
  max-width:800px ;
  margin: auto;
  }
.icon{
margin-left: 43%;
margin-top: 20px;
margin-bottom: 30px;
}
.icons{
  color:orangered;

  font-size: 30px;
}
h4{
  font-size:35px ;
  text-align: center;
  margin-top: 5rem;
}
.h3-2{
  padding-bottom: 50px;
  margin-left: 700px;
}

@media (min-width: 481px) and (max-width: 900px) { 
  .div-2{
    margin-top:5rem;
  }

  .icon{
    
    margin-left:270px;
  }
 .h3-2{
  margin-left:230px;
  }
  .icons{
    padding: 5px;
  }
} 

@media (min-width: 320px) and (max-width: 480px) {
  .div-2{
    margin-top:5rem;
  }
  .icon{
    margin-left:85px;
  }
 .h3-2{
    margin-left:25px;
  }
  .icons{
    padding: 5px;
  }
}              